/* ===== HEADER ===== */
.header-duvidas {
    background: #f28b92;
    text-align: center;
    padding: 25px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

/* ===== BANNER ===== */
.banner-duvidas {
    background: #ffe7ea;
    padding: 30px 20px;
    text-align: center;
}

.banner-duvidas h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.banner-duvidas p {
    color: #555;
}

/* ===== CONTEÚDO ===== */
.conteudo-blog-duvidas {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
}

.artigo-duvidas {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

.titulo-artigo-duvidas {
    color: #c32d37;
    margin-bottom: 10px;
}

/* ===== FAQ ===== */
.faq-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-card {
    background: #f7e4e6;
    padding: 20px;
    border-radius: 12px;
}

.faq-card h3 {
    margin-bottom: 10px;
    color: #b32634;
}

.faq-card p {
    color: #333;
}

/* ===== Botão ===== */
.btn-voltar-duvidas {
    display: inline-block;
    background: #d55159;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    margin-top: 25px;
    font-weight: bold;
}

/* ===== Responsivo ===== */
@media (min-width: 800px) {

    .banner-duvidas h2 {
        font-size: 1.8rem;
    }

}
